<h3>Beautiful Earth Portfolio</h3>



<div class="simple-article-header">
 
  <!-- Article Title -->
  <h4 class="article-title">
    <a href="#">
     <h1> Most Beautiful Places in the World</h1>
    </a>
  </h4>

  <!-- Article Author Name & Comment Hyperlink -->
  <p class="article-author-comments">
    <em>by <a href="#">LYNDSEY MATTHEWS, LAUREN HUBBARD AND EMY RODRIGUEZ FLORES</a></em> -
    <a class="article-comments" href="#"> OCT 23, 2019</a>
  </p>

  <!-- Article Social Links -->
  <div class="article-social">
    <a href="#" class="button social facebook">
      <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social twitter">
      <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social linkedin">
      <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social google-plus">
      <i class="fa fa-google-plus fa-lg" aria-hidden="true"></i>
    </a>
  </div>

  <!-- Article Image -->
  <div class="article-post-image">
    <div class="thumbnail">
      <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/great-ocean-road-174028267-1494616481.jpg?crop=1.00xw:1.00xh;0,0&resize=980:*" width="600">
    </div>
  </div>

  <!-- Article Post Content -->
  <div class="article-post-content">
    <h5><b>Most Beautiful Places in the World</b></h5>
    <p><b> There are so many amazing places around the globe to see, we couldn't possibly include them all in just one list. But, these breathtaking destinations are definitely worth bumping to the top of your travel bucket list–whether you're looking to relax on a beach, get off the grid or explore a city.</b></p>
  </div>

</div>

  <!-- Importing images form graphic.json into graphic design page -->
  <app-portfolio-lightbox portfolioURL = '/assets/graphic.json'></app-portfolio-lightbox>

   <app-portfolio-lightbox portfolioURL = '/assets/earth.json'></app-portfolio-lightbox>



<!-- End Page Container -->

  <!-- Importing footer into graphic-design page -->
  <app-footer></app-footer>
